h1 {
	style= font-size:20px ;
	text-align: center; 

}

html {
    background-image: url(https://image.freepik.com/vecteurs-libre/fond-degrade-couleurs-degrade-vert-gris-marron_7190-651.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: lightgreen; */
    /* background-image: url(gris.png) */
}

p{
	background-color: #f0f0f0;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    border: 2px solid green;
    width : 50%;
    text-align: justify;

	
}


img {
	width: 150px;
	height: 150px;
	margin-left: 10px;
}

body { 
    margin: auto;
    padding: auto ;
    width: 60%;
    background-color: white;
    border-radius:5px;
    color: none
    margin: center ;
    padding: 10px;
    
    background-color: white;
   
    color: black;
    transform: perspective(1px) translateY(25%);
    opacity: 1;
   
}

.boutonmenuprincipal {
background-color: lightskyblue;
color: white;
border: none;
cursor: pointer;
padding:10px;

font-size: 20px;
}
.boutonmenuprincipal:hover {
background-color: #33ff3c;
}
.dropdown {
position: relative;
display: inline-block;
}
.dropdown-child {

background-color: white ;
min-width: 10px;
}
.dropdown-child a {
color: green ;
padding: 8px;
text-decoration: none;
display: block;
}
.dropdown:hover .dropdown-child {
display: block;
}